<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.example.auth0" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Auth0CordovaPlugin</name>
    <description>Auth0 Cordova Plugin for integrating authentication into mobile apps</description>
    <license>MIT</license>
    <keywords>auth0, cordova, authentication</keywords>
    <engines>
        <engine name="cordova" version=">=6.0.0" />
    </engines>

    <platform name="android">
        <config-file target="app/build.gradle" parent="android">
            <include src="src/android/build.gradle" />
        </config-file>

        <config-file target="app/build.gradle" parent="dependencies">
            <include src="src/android/dependencies.gradle" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <source-file src="src/android/Auth0Cordova.java" target-dir="src/com/example/auth0" />
    </platform>

    <platform name="ios">
        <source-file src="src/ios/Auth0Cordova.m" />
    </platform>

    <!-- JS interface -->
    <js-module src="www/auth0-cordova.js" name="Auth0Cordova">
        <clobbers target="cordova.plugins.Auth0Cordova" />
    </js-module>
</plugin>
